MONGO_URI_TEST="mongodb+srv://<username>:<password>@not-my-cat-cluster.ajllw.mongodb.net/test?retryWrites=true&w=majority"
MONGO_URI_DEV="mongodb+srv://<username>:<password>@not-my-cat-cluster.ajllw.mongodb.net/dev?retryWrites=true&w=majority"